# Your Medusa backend, should be updated to where you are hosting your server. Remember to update CORS settings for your server.
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=5y3z7p5vxe9vuz3vuh0k7wqglfz3bagw

NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000

# Your store URL, should be updated to where you are hosting your storefront.
NEXT_PUBLIC_BASE_URL=http://localhost:8000

# Your preferred default region. When middleware cannot determine the user region from the request IP, this will be used instead.
NEXT_PUBLIC_DEFAULT_REGION=us

# Minio endpoint for image storage (optional)
# NEXT_PUBLIC_MINIO_ENDPOINT=bucket-production-eaeb.up.railway.app

# MeiliSearch Configuration
# The URL of your MeiliSearch instance (default: http://localhost:7700 or auto-configured on Railway)
NEXT_PUBLIC_SEARCH_ENDPOINT=http://localhost:7700

# Your MeiliSearch search key (auto-configured on Railway)
NEXT_PUBLIC_SEARCH_API_KEY=u3dv9qpicgsojda41v2y707h39abe1gg

# The name of the index in MeiliSearch (matches backend configuration)
NEXT_PUBLIC_INDEX_NAME=products


# Required for blogs to work
NEXT_PUBLIC_STRAPI_URL=dependable-books-20bbff72e8.strapiapp.com  #:1337
NEXT_PUBLIC_STRAPI_TOKEN=7a09ff2281c7ccc2a275eb9a1bd5246755eb5382e3973718238b0f44238bc1112db48f54555a272c976de3500bc1dcad6cae4a7e3b55f68ec9e2d0955d0ed7fea4324c22c8836cdc9a64b5aa11765fc3a6d75af73fe48e6f1f7ff74855beef6be5fc535ae1f4f77350e9082e4980646b7e3b108eceb00adb955837acd7277b64

# Optional for advanced features (e.g. UI theming or 3rd party tools)
# NEXT_PUBLIC_SPACE_DOMAIN=your.space.domain
# NEXT_PUBLIC_SPACE_ENDPOINT=https://your-space-endpoint.com

# For ISR (Incremental Static Regeneration) with Strapi
STRAPI_WEBHOOK_REVALIDATION_SECRET=fe22a22879e104fce301893ddbc016faf5e1b048c3a0433aee35ae3af5e30250
